body {
	margin: 20px;
	padding: 20px;
}

.outer-wrapper {
	border: dotted;
	border-color: white;
	width: 1080px;
}

.light-source-red {
	float: left;
	border: dotted;
	border-color: red;
	width: 200px;
	height: 100px;
	margin-left: 50px;
	margin-right: 50px;
}

.light-source-blue {
	float: left;
	border: dotted;
	border-color: blue;
	width: 200px;
	height: 100px;
	margin-left: 50px;
	margin-right: 50px;
}

.light-source-green {
	float: left;
	border: dotted;
	border-color: green;
	width: 200px;
	height: 100px;
	margin-left: 50px;
	margin-right: 50px;
}

a.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}

.messagepop {
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display:none;
  margin-top: 100px;
  margin-left: 235px;
  position:absolute;
  text-align:left;
  width:394px;
  z-index:50;
  padding: 50px 25px 20px;
}

label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

.messagepop p, .messagepop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}